<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean id="cat" class="com.timwang5.pojo.Cat"/>-->


<!--    <bean id="dog" class="com.timwang5.pojo.Dog"/>-->

<!--    &lt;!&ndash;    尝试自动装配bean里的属性&ndash;&gt;-->
<!--    <bean id="person" class="com.timwang5.pojo.Person">-->
<!--        <property name="name" value="tim"/>-->
<!--    </bean>-->

    <!--    添加注解支持
   导入约束  xmlns:context="http://www.springframework.org/schema/context" -->
    <context:annotation-config/>

    <context:component-scan base-package="com.timwang5.pojo"/>


</beans>