<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="cat" class="com.timwang5.pojo.Cat"/>


    <bean id="dog" class="com.timwang5.pojo.Dog"/>

<!--    尝试自动装配bean里的属性-->
    <bean id="person" class="com.timwang5.pojo.Person">
        <property name="name" value="tim"/>
        <property name="dog" ref="dog"/>
        <property name="cat" ref="cat"/>
    </bean>

    </beans>